body {
	background-color: #f2f2f2;
}

div.container {
	background-color: #fff;
}

footer.container-fluid {
	background-color: #008b3b;
}

nav.menu {
	background-color: #008b3b;
}

nav.menu a {
	color: #fff;
}

nav.menu a.link-menu:hover {
	text-decoration: underline;
}

nav.menu button.boton-menu {
	padding: 5px 10px;
	background-color: #fff;
	border: none;
	color: #008b3b;
	border-radius: 5px;
	margin-left: 15px;
	border: 3px solid #fff;
}

nav.menu button.boton-menu:hover {
	background-color: #008b3b;
	color: #fff;
}

nav.menu i.menu-comprimido {
	color: #fff;
}


footer div.redes-sociales {
	margin: 15px 0;
}

footer div.redes-sociales div.facebook, footer div.redes-sociales div.google-plus,
	footer div.redes-sociales div.instagram, footer div.redes-sociales div.twitter
	{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: #fff;
	color: #008b3b;
	border: 3px solid #fff;
}

footer div.redes-sociales div.facebook:hover, footer div.redes-sociales div.google-plus:hover,
	footer div.redes-sociales div.instagram:hover, footer div.redes-sociales div.twitter:hover
	{
	background-color: #008b3b;
	color: #fff;
	cursor: pointer;
}

footer div.contacto, footer div.contacto a, footer div.copyright {
	color: #fff;
}

@media ( max-width : 991.98px) {
	nav.menu button.boton-menu {
		margin-left: 0;
		margin-right: 10px;
	}
}

@media ( max-width : 767.98px) {
	.container {
		width: 100%;
		max-width: none;
	}
}
 
iframe#imagen {
	margin-top:10%;
	width: 100%;
	height: 615px;
	
} 

