@import url('https://fonts.googleapis.com/css?family=Numans');

body{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
}

.card-header h3{
    color: white;
}

.input-group-prepend span{
    width: 50px;
    background-color: #ffc312;
    color: black;
    border:0;
}

input:focus{
    outline: 0, 0, 0, 0;
    box-shadow: 0, 0, 0, 0;
}

.remember{
    color: white;
}

.login_btn{
    color:black;
    background-color: #ffc312;
    width: 150px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}
