.code{
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.75);
    /* margin: 15px 0; */
    padding: 15px;
    color:black;
    width: 50%;
    margin-top:0%;
    margin-bottom: 2%;
    left:5%;
    position: relative;
    
}
.titulos{
    left: 10%;
    position: relative;
}
