@charset "ISO-8859-1";

body {
	background-color: #f2f2f2;
}

div.container {
	background-color: #fff;
}

div.carrusel {
	background-color: #008b3b;
}

div.carrusel img.imagen-carrusel {
	opacity: 0.7;
}

div.carrusel div.texto-carrusel {
	font-size: 24px;
	text-shadow: 1px 1px #000;
}

div.contenedor-pregunta {
	padding: 15px 0;
}

div.pregunta h2 {
	color: #008b3b;
}

div.contenedor-pregunta img.imagen-pregunta {
	border-radius: 5px;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.75);
}

div.contenedor-pregunta img.imagen-pregunta:first-child, div.contenedor-pregunta img.imagen-pregunta:nth-child(4)
	{
	max-width: 90%;
}

@media ( max-width : 767.98px) {
	.container {
		width: 100%;
		max-width: none;
	}
}