@charset "ISO-8859-1";

body {
	background-color: #f2f2f2;
}

div.container {
	background-color: #fff;
	
}

h2{
	color: #008b3b;
	margin: 15px 0;
}

p.error {
	font-style: italic;
	color: red;
}

form {
	border-radius: 5px;
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.75);
	margin: 15px 0;
	padding: 15px;
	color: #008b3b;
	margin-bottom: 24%;
}

form input[type="email"],
form input[type="password"]{
    font-size: 14px;
}

form span.informacion-input{
	font-size: 14px;
	font-style: italic;
}

form span.informacion-negativa{
	color: red;
}

form button.boton-inicio-sesion{
	padding: 5px 10px;
	background-color: #008b3b;
	border: none;
	color: #fff;
	border-radius: 5px;
	border: 3px solid #008b3b;
	margin-bottom: 1rem;
}

form button.boton-inicio-sesion:hover{
	background-color: #fff;
	color: #008b3b;
}

form p a,
form p a:hover{
	color: #008b3b;
}

@media ( max-width : 767.98px) {
	.container {
		width: 100%;
		max-width: none;
	}
	form {
		
		margin-bottom: 0;
	}
}