.contenapps{
    margin-bottom: 10%;
}

@media ( max-width : 767.98px) {
	
	.contenapps {
		
		margin-bottom: 0;
	}
}

.forma {
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.75);
    margin: 15px 0;
    padding: 15px;
    color: #008b3b;
}

.title{
    margin-top: 5%;
    margin-bottom: 5%;

}
.contenapps2{
    margin-bottom: 17%;
}