@charset "ISO-8859-1";

body {
	background-color: #f2f2f2;
}

nav.menu {
	background-color: #008b3b;
}

nav.menu a {
	color: #fff;
}

nav.menu a.link-menu:hover {
	text-decoration: underline;
}

nav.menu a.boton-menu,
nav.menu button.boton-cerrar-sesion {
	padding: 5px 10px;
	background-color: #fff;
	border: none;
	color: #008b3b;
	border-radius: 5px;
	margin-left: 15px;
	border: 3px solid #fff;
}

nav.menu a.boton-menu:hover,
nav.menu button.boton-cerrar-sesion:hover {
	background-color: #008b3b;
	color: #fff;
	text-decoration: none;
}

nav.menu form.form-cerrar-sesion{
	display: inline-block;
}

nav.menu i.menu-comprimido {
	color: #fff;
}

@media ( max-width : 991.98px) {
	nav.menu a.boton-menu,
	nav.menu button.boton-cerrar-sesion {
		margin-left: 0;
		margin-right: 10px;
	}
}