@charset "ISO-8859-1";

body {
	background-color: #f2f2f2;
}

footer.container-fluid {
	background-color: #008b3b;
	
}

footer div.redes-sociales {
	margin: 15px 0;
}

footer div.redes-sociales div.facebook, footer div.redes-sociales div.google-plus,
	footer div.redes-sociales div.instagram, footer div.redes-sociales div.twitter
	{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: #fff;
	color: #008b3b;
	border: 3px solid #fff;
}

footer div.redes-sociales div.facebook:hover, footer div.redes-sociales div.google-plus:hover,
	footer div.redes-sociales div.instagram:hover, footer div.redes-sociales div.twitter:hover
	{
	background-color: #008b3b;
	color: #fff;
	cursor: pointer;
}

footer div.contacto, footer div.contacto a, footer div.copyright {
	color: #fff;
}