#myMap {
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 5px;
    position:relative;
}

.formulario {
    width: 50%;
    min-width: 500px;
}

.forma {
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.75);
    margin: 15px 0;
    padding: 15px;
    color: #008b3b;
}
.bt{
    left: 17%;
    position: relative;
}
div#contenedor_position{
    background-color: #67af749c;
    display: inline-block;
    position: absolute;
    padding: 2%;
    opacity: 0.5;
    opacity: 0.788;
    right: 74%;
    top: 9%;
    border-radius: 10px;
    z-index: 1;
    left: 3%;
}
.leyenda{
    background-color: #67af749c;
    display: inline-block;
    position: absolute;
    padding: 0%;
    opacity: 0.5;
    opacity: 0.788;
    right: 62%;
    top: 64%;
    border-radius: 10px;
    z-index: 1;
    left: 72%;
}
#imagenleyenda {
    
    width: 330px;
}