@charset "ISO-8859-1";

body {
	background-color: #f2f2f2;
}

div.container {
	background-color: #fff;
}

h2{
	color: #008b3b;
	margin: 15px 0;
}

@media ( max-width : 767.98px) {
	.container {
		width: 100%;
		max-width: none;
	}
}